.email-validate {
  color: red;
  margin-bottom: 1rem;
} // Here you can add other styles

.mail-sent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
}

.catTableItem {
  //font-size: 2rem;
  font-family: "Poppins", sans-serif;

  font: bolder;
}

.cellclass {
  font-family: "Poppins";
}

.table-class {
  text-align: center;
}

.flex-apptable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
